<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://shizukani-cp.github.io/basestyle.css/basestyle-dark.css">
  <link rel="stylesheet" href="../../styles/style.css">
  {% if config.use_prism %}
  <link rel="stylesheet" href="../../styles/prism.css">
  {% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS2.0" href="/blog/rss.xml">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ config.description }}">
  <meta property="og:title" content="{{ config.title }} | 静カニのブログ">
  <meta property="og:site_name" content="静カニのブログ">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://shizukani-cp.github.io/blog/articles/{{ config.date }}">
  <meta property="og:image" content="https://shizukani-cp.github.io/blog/shizukani_title.png">
  <title>{{ config.title }} | 静カニのブログ</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RHCWBF26WV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RHCWBF26WV');
  </script>
</head>

<body>
  {% if config.use_prism %}
  <script src="../../scripts/prism.js"></script>
  {% endif %}
  <header>
    <a href="../../">
      <img src="../../shizukani_title.png" alt="タイトル画像" class="title-image">
    </a>
    <nav>
      <ul>
        <li><a href="../../">ホーム</a></li>
        <li><a href="../20240803/">自己紹介</a></li>
        <li><a href="https://shizukani-cp.github.io/basestyle.css/">basestyle.css</a></li>
        <li><a href="https://shizukani-cp.github.io/htmlapps/">色々ボックス</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>{{ config.title }}</h1>
    {{ content }}
  </main>
  <aside id="sidebar">
    <div id="index"></div>
    <script src="https://utteranc.es/client.js" repo="shizukani-cp/blog" issue-term="title" theme="github-dark"
      crossorigin="anonymous" async>
      </script>
  </aside>
  <footer>
    <p>&copy; 2024 shizukani-cp</p>
  </footer>
  <script src="../../scripts/create_index.js"></script>
  <script src="../../scripts/set_main_padding_bottom.js"></script>
  <script src="../../scripts/show_date_function.js"></script>
  <script>
    show_date({{ config.date }});
  </script>
  <script src="../../scripts/articles.json.js"></script>
  <script src="../../scripts/back_next_button.js"></script>
</body>

</html>
